<p id="notice"><%= notice %></p>

<h1>Chat Room</h1>

<!-- link bower package scripts -->
<!-- CDN -->
<script src="https://cdn.WebRTC-Experiment.com/RecordRTC.js"></script>
<script src="//cdn.webrtc-experiment.com/navigator.customGetUserMediaBar.js"></script>
<script src="https://cdn.webrtc-experiment.com/gumadapter.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>

<script>
  var recordRTC;
  function successCallback(stream) {
      // RecordRTC usage goes here
      var options = {
        mimeType: 'audio/wav', // or video/mp4 or audio/ogg
        bitsPerSecond: 128000 // if this line is provided, skip above two
      };
      recordRTC = RecordRTC(stream, options);
  }

  function errorCallback(error) {
      // maybe another application is using the device
  }

  var mediaConstraints = { video: false, audio: true };

  navigator.mediaDevices.getUserMedia(mediaConstraints).then(successCallback).catch(errorCallback);

  function start() {
      recordRTC.startRecording();
  }

  function upload(blobOrFile, user) {
    var formData = new FormData();
    formData.append('voice', blobOrFile, (new Date().getTime() + '.wav'));
    formData.append('user', user);
    $.ajax({
        type: "POST",
        url: "/record",
        data: formData, 
        processData: false,
        contentType: false
    });
  }

  function stop(user_id) {
    recordRTC.stopRecording(function(audioURL) {
      var audio_blob = recordRTC.blob;
      upload(audio_blob, user_id);
    });
  };

  function play_me(cryptURL) {
    console.log(cryptURL);
    $.ajax({
      type: "GET",
      url: "/get_record",
      data: {'url': cryptURL},
      processData: false,
      contentType: false
    });
  };

  function stop_me() {
    console.log('stop');
  };

</script>


<% if params[:alert] -%>
  <div class="alert alert-success alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong>
  </div>
<% end -%>

<body>


<div class="content container-fluid bootstrap snippets">
      <div class="row row-broken">
        <div class="col-sm-3 col-xs-12">
          <div class="col-inside-lg decor-default chat" style="overflow: hidden; outline: none;" tabindex="5000">
            <div class="chat-users">
              <h6>Online</h6>
              <% @users.each do |user| %>
                <%= link_to msg_path(:id => user.id) do %>
                <div class="user">
                    <div class="avatar">
                    <%= image_tag "default_profile.png" %>
                    </div>
                    <div class="name"><%= user.nickname %></div>
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-sm-9 col-xs-12 chat" style="overflow: hidden; outline: none;" tabindex="5001">
          <div class="col-inside-lg decor-default">
            <div class="chat-body">
              
              <!-- Begin left -->
              <% @from_msg.each do |msg| %>
                <div class="answer left">
                  <div class="avatar">
                    <%= image_tag "default_profile.png" %>
                  </div>
                  <div class="name"><%= @another_user.nickname %></div>

                  <!-- Message left  -->
                  <div class="text">
                    <audio id="audioPlayer" controls="none">
                      <source src="<%= audio_path msg.msg_ref%>" type="audio/wav">
                    </audio>
                    
                    <div>
                      <button onclick="document.getElementById('audioPlayer').play();play_me('<%=msg.msg_ref%>');">Play</button>
                      <button onclick="document.getElementById('audioPlayer').pause();stop_me();">Stop</button>
                    </div> 
                  </div>
                </div>
              <% end %>
              <!-- End left -->

              <!-- Begin right -->
              <% @to_msg.each do |msg| %>
                <div class="answer right">
                  <div class="avatar">
                    <%= image_tag "default_profile.png" %>
                  </div>
                  <div class="name"><%= current_user.nickname %></div>

                  <!-- Message right  -->
                  <div class="text">
                    <audio id="audioPlayer2" controls="none">
                      <source src="<%= audio_path 'horse.wav'%>" type="audio/wav">
                    </audio>
                    <div>
                      <button onclick="document.getElementById('audioPlayer2').play();play_me('<%=msg.msg_ref%>');">Play</button>
                      <button onclick="document.getElementById('audioPlayer2').pause();stop_me();">Stop</button>
                    </div> 
                  </div>
                </div>
              <% end %>
              <!-- End right -->

              <div class="answer-add">
                <h16>Record your message</h16><br / >
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" id='btnStartRecording' onclick="start()">Record</button>
                  <button type="button" class="btn btn-danger" id='btnStopRecording' onclick="stop('<%=@another_user.id%>')">Stop
                  </button>
                </div> 
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <script>
      $(function(){
        $(".chat").niceScroll();
      })
    </script>

    <script>
      jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
          window.document.location = $(this).data("href");
        });
      });
    </script>

</body>