<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%if @user.friends%>
    <%= @user.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Friends:</strong>
  <%if @user.friends%>
    <%= @user.friends %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
