<p id="notice"><%= notice %></p>

<p>
  <strong>From email:</strong>
  <%= @message.from_email %>
</p>

<p>
  <strong>To email:</strong>
  <%= @message.to_email %>
</p>

<p>
  <strong>Msg ref:</strong>
  <%= @message.msg_ref %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
